header {
    background-color: #232323;
    color: #fff;

    padding: 10px 20px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 65px;
}

.search form {
    display: flex;
    align-items: center;
}

.search select {
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
    height: 25.5px;
    border: none;
}

.search input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    width: 300px;
    border-radius: 6px;
    border: none;
}
body {
    background-color: #000;
    margin: 0;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-text{
    font-family: fantasy;
    font-size: 30px;
    margin-left: 10px;
    color: burlywood;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
} a:link {
      text-decoration: none;
  }

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
.search button[type="submit"] {
    padding: 5px 25px;
    border-radius: 17px;
    border: none;
    background-color: #f5c518;
    color: #232323;
    cursor: pointer;
}

.genres {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.grid-item {
    position: relative;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay:hover {
    opacity: 1;
}

.text {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px #000000;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
    .logo img {
        height: 30px;
    }
    .search input[type="text"] {
        width: 200px;
    }
}
.container-footer {
    max-width: 1170px;
    margin:auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col {
        width: 100%;
    }
}
